

@media   (max-width: 570px) {

    .first {
        color: black; 
        background-image: url("./Bilder/header.png.png");
        background-repeat: no-repeat;
        background-position-x: center;
        height: 500px;
        width: 100%;
        background-size: 110%;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
    }
    .second {
        position: relative;
        left: 250px;
        bottom: 190px;
        font-family: Arial, Helvetica, sans-serif;
        color: darkslategrey;
        font: bolder;
    }
    .text2 {
    
    position: relative;
    left: 70px;
    bottom: 190px;
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    }

    h2{
        width: 50px;
        margin: auto;
        top: 20px;
        position: relative;
    }

    .text3 {
        background-image: url("../Bilder/phone_no1-03.png");
        background-repeat: no-repeat;
        background-position-x:  right;
        background-position: 210px;
        margin-top: -150px;
        text-size-adjust: 20px;
        font-family: Calibri light;
        font-size: 13px;
        color: grey;
        padding: 70px;
        padding-top: 150px;
        position: relative;
        bottom: 140px;
        
      
    }

    .YH {
        
        position: relative;
        left: 70px;
        bottom: 120px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(90, 84, 84);

    }

    .v {
    margin-top: -200px;


    }

    .text4 {
        background-image: url(./Bilder/phone_no2-03.png);
        background-repeat: no-repeat;
        background-position-x: left;
        padding: 110px;
        font-size: 12px;
        position: relative;
        text-align: top;
        padding-left: 290px;
        color: grey;


        }

        .text5 {
            padding-left: 50px;
            font-family: sans-serif;
            color: grey;
            font-size: 14px;
            position: relative;
            bottom: 70px;


        }

        .text6 {
            background-image: url(./Bilder/Q1_newsletter-02.png);
            height: 330px;
            color: #333;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;

            
            
            

        }

        .text7 {
            background-color: rgb(54, 52, 52);
            color: white
        }







}