

@media   (max-width: 570px) {

    .first {
        color: brown; 
        background-image: url(./Bilder/header.png.png);
        background-repeat: no-repeat;
        background-position-x: center;
        height: 500px;
        width: 100%;
        background-size: 110%;
    }
    .bild1 {
        color: cadetblue;


    }

    h2{
        width: 50px;
        margin: auto;
    }




}