

@media   (max-width: 570px) {

    .first {
        color: black; 
        background-image: url("./Bilder/header.png.png");
        background-repeat: no-repeat;
        background-position-x: center;
        height: 500px;
        width: 100%;
        background-size: 110%;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
    }
    .second {
        position: relative;
        left: 250px;
        bottom: 190px;
        font-family: Arial, Helvetica, sans-serif;
        color: darkslategrey;
        font: bolder;
    }
    .text2 {
    
    position: relative;
    left: 70px;
    bottom: 190px;
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    }

    h2{
        width: 50px;
        margin: auto;
        top: 20px;
        position: relative;
    }

    .text3 {
        background-image: url("../Bilder/phone_no1-03.png");
        background-repeat: no-repeat;
        background-position-x:  right;
        background-position: 210px;
        margin-top: -150px;
        text-size-adjust: 20px;
        font-family: Calibri light;
        font-size: 13px;
        color: grey;
        padding: 70px;
        padding-top: 150px;
        position: relative;
        bottom: 140px;
        
      
    }

    .YH {
        
        position: relative;
        left: 70px;
        bottom: 120px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(90, 84, 84);

    }

    .v {
    margin-top: -200px;


    }

    .text4 {
        background-image: url(./Bilder/phone_no2-03.png);
        background-repeat: no-repeat;
        background-position-x: left;
        padding: 110px;
        font-size: 12px;
        position: relative;
        bottom: 40px;
        text-align: top;
        padding-left: 290px;
        color: grey;


        }

        .text5 {
            padding-left: 50px;
            font-family: calibri light;
            color: grey;
            font-size: 15px;
            position: relative;
            bottom: 130px;
        }

        .tipweek{
            
            font-size: 14px;
            font-family: sans-serif;
            position: relative;
            bottom: 470px;
            left: 170px;
            color: rgb(56, 52, 52);
        }

        .tip {
            background-image: url(./Bilder/Q1_newsletter-02.png);
            height: 330px;
            color: #333;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: bottom;
            font-size: 25px;
            position: relative;
            bottom: 160px;
           

        }

        .text6{
            position: relative;
            bottom: 310px;
            left: 20px;
            font-family: sans-serif;
            font-size: 13px;
            text-align: center;
            



        }

        .live {
            color: rgb(243, 242, 242);
            font-family: sans-serif;
            position: relative;
            bottom: 510px;
            left: 60px;
            
            
        }

        .text7 {
            position: relative;
            bottom: 310px;
            font-family: sans-serif;
            font-size: 12px;
            column-count: 2;
            column-gap: 60px;
            column-width: 170px;
            padding: 60px;
            background-color: rgb(54, 52, 52);
            color: white
            
            
            
        }







}